<% title "Act #{@act.act_number}" %>
<strong> Scene Chart </strong>
  <table border = "1">
    <tr><td></td>
        <% @act.scenes.each do |s| %>
          <% s.french_scenes.each do |fs| %>
            <td><%= @act.act_number %>.<%= fs.scene.scene_number %>.<%= fs.fs_number %></td>
          <% end %>
        <% end %>
    </tr>
    <% @act.play.characters.each do |c| %>
      <tr><td><%= c.name %></td>
        <% @act.scenes.each do |s| %>
          <% s.french_scenes.each do |fs| %>
            <td><% if fs.characters.include?(c) %>
               <%= c.name %>
            <% end %>
          <% end %></td>
        <% end %>
      <% end %></tr>
  </table>
</p>
<p>
  <strong>Characters:</strong><br />
  <% c = @act.on_stage %>
  <ul> 
  <% c.each do |char| %>
    <li><%= char.name %></li>
  <% end %>
  </ul>
</p>


<p>
  <strong>Scenes:</strong><br />
  <ul>
  <% for scene in @act.scenes do %>
    <li><%= @act.act_number %>.<%= scene.scene_number %> <%= link_to 'Show', scene %> <%= link_to 'Edit', edit_scene_path(scene) %>
<%= link_to 'Destroy', scene, :confirm => 'Are you sure?', :method => :delete %><br /><ul><% for french_scene in scene.french_scenes %><li><%= @act.act_number %>.<%=scene.scene_number %>.<%= french_scene.fs_number %> <%= link_to 'Edit', edit_french_scene_path(french_scene) %> <%= link_to 'Show', french_scene %> <%= link_to 'Destroy', french_scene, :confirm => 'Are you sure?', :method => :delete %> </li><% end %></ul></li>
  <% end %>
  </ul>
</p>
<p>
  <%= link_to "Edit Act", edit_act_path(@act) %> <%= link_to "Back to #{@act.play.title}", play_path(@act.play.id) %>
</p>
