<% title ("All Actors") %>

<table>
  <tr>
    <th>Name</th>
    <th>Best Role</th>
    <th>Birthdate</th>
    <th>Gender</th>
    <th>Hire Date</th>
  </tr>

<% @actors.each do |actor| %>
  <tr>
    <td><%=h actor.name%></td>
    <td><%=h actor.best_role %></td>
    <td><%=h actor.date_of_birth %></td>
    <td><% if actor.is_female %>F<% else %>M<% end %></td>
    <td><%=h actor.hire_date %></td>
    <td><%= link_to 'Show', actor %></td>
    <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
      <td><%= link_to 'Destroy', actor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

 <%= link_to 'New actor', new_actor_path %>

