<%= semantic_form_for @french_scene do |f| %>
  <p>
    <%= f.inputs do %>
      <%= f.input :fs_number %>
      <%= f.input :characters, :as => :check_boxes, :collection => Character.find(:all, :conditions => { :play_id => @french_scene.play_id }) %>
      <%= f.input :play_id, :as => :hidden, :value => @french_scene.play_id %>
      <%#= f.input :act_id, :as => :hidden, :value => @french_scene.act_id %>

    <% end %>
  </p>
  <p><%= f.buttons %></p>
<% end %>
