<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @french_scene.number %>
</p>

<p>
  <b>Play:</b>
  <%= @french_scene.play %>
</p>

<p>
  <b>Act:</b>
  <%= @french_scene.act %>
</p>

<p>
  <b>Scene:</b>
  <%= @french_scene.scene %>
</p>


<%= link_to 'Edit', edit_french_scene_path(@french_scene) %> |
<%= link_to 'Back', french_scenes_path %>
