<table>
  <tr>
    <th>Name</th>
    <th>Play</th>
  </tr>
  <% for character in @characters %>
    <tr>
      <td><%=h character.name %></td>
      <td><%=h character.play.title %></td>
      <td><%= link_to "Show", character %></td>
      <td><%= link_to "Edit", edit_character_path(character) %></td>
      <td><%= link_to "Destroy", character, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Character", new_character_path %></p>
