<% title "Character" %>

<p>
  <strong>Name:</strong>
  <%=h @character.name %>
</p>
<p>
  <strong>Play:</strong>
  <%=h link_to @character.play.title, play_path(@character.play) %>
</p>

<p>
  <%= link_to "Edit", edit_play_character_path(@play, @character) %> | <%= link_to "Back", play_characters_path(@play) %>
  <%= link_to "Destroy", [@play, @character], :confirm => 'Are you sure?', :method => :delete %> |
</p>
