<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Is female:</b>
  <%= @character.is_female %>
</p>

<p>
  <b>Age:</b>
  <%= @character.age %>
</p>

<p>
  <b>Play:</b>
  <%= @character.play %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
