<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @theater.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @theater.street_address %>
</p>

<p>
  <b>State:</b>
  <%= @theater.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @theater.zip %>
</p>

<p>
  <b>Mission statement:</b>
  <%= @theater.mission_statement %>
</p>

<p>
  <b>:</b>
  <%= @theater. %>
</p>

<p>
  <b>Website:</b>
  <%= @theater.website %>
</p>


<%= link_to 'Edit', edit_theater_path(@theater) %> |
<%= link_to 'Back', theaters_path %>
