<% title "Scenes" %>

<table>
  <tr>
    <th>Number</th>
    <th>Summary</th>
  </tr>
  <% for scene in @scenes %>
    <tr>
      <td><%=h scene.number %></td>
      <td><%=h scene.summary %></td>
      <td><%= link_to "Show", scene %></td>
      <td><%= link_to "Edit", edit_scene_path(scene) %></td>
      <td><%= link_to "Destroy", scene, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Scene", new_scene_path %></p>
