<% title "Act #{@scene.act.act_number}, Scene #{@scene.scene_number}" %>

<p>
  <strong>Summary:</strong>
  <%=h @scene.scene_summary %>
</p>
<p>
  <strong>Characters:</strong><br />
  <% c = @scene.on_stage %>
  <ul> 
  <% c.each do |char| %>
    <li><%= char.name %></li>
  <% end %>
  </ul>
</p>
<p>
  <strong>French Scenes:</strong><br />
  <ul>
  <% for fs in @scene.french_scenes do %>
    <li><%= fs.fs_number %> <%= link_to 'Show', fs %></li>
  <% end %>
  </ul>
</p>

<p>
  <%= link_to "View Act #{@scene.act.act_number}", act_path(@scene.act.id) %>
</p>
