<% title "Doubling Chart for #{@production.play.title} at #{@production.theater.name}" %>
<table border = "1">
    <tr><td></td>
    <% @production.play.acts.each do |a| %>
       <% a.scenes.each do |s| %>
          <% s.french_scenes.each do |fs| %>
            <td><%= a.act_number %>.<%= s.scene_number %>.<%= fs.french_scene_number %></td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
<% @production.users.uniq.each do |user| %>
      <tr><td><%= user.name %><% user.doubling_problems(@production) %></td><% @production.play.acts.each do |act| %>
        <% act.scenes.each do |scene| %>
          <% scene.french_scenes.each do |fs| %>
            <% if user.doubling_problems(@production).include?(fs) %><td bgcolor = "red"><% else %><td><% end %>
              <% cas = user.chars_for_production(@production) %>
              <% cas.each do |casting| %>
                <% if fs.characters.include?(casting.character) %>
                 <%= casting.character.name %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      <% end %></tr>

<% end %>
</table>
</p>
<p>
<%= link_to "Back to #{@production.play.title}", theater_production_path %>
<p>
