<%= title "Edit Production" %>

<%= semantic_form_for [@theater, @production] do |f| %>
  <%= f.inputs %>
    <p>Castings<br />
      <% @production.castings.each do |casting| %>
        <%= f.semantic_fields_for :castings, casting do |c| %>
          <%= c.input :actor, :label => casting.character.name %>
        <% end %>
      <% end %>
  <p><%= f.actions %></p>
<% end %>
<p>
  <%= link_to "Show", theater_production_path(@theater, @production) %> |
  <%= link_to "View All", theater_productions_path(@theater) %>
</p>

