<% title "Productions" %>

<table>
  <tr>
    <th>Date</th>
  </tr>
  <% for production in @productions %>
    <tr>
      <td><%=h production.start_date %></td>
      <td><%=h production.play.title %></td>
     
      <td><%= link_to "Show", production %></td>
      <td><%= link_to "Edit", edit_production_path(production) %></td>
      <td><%= link_to "Destroy", production, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Production", new_production_path %></p>
