<% title "#{@production.play.title} at #{@production.theater.name}" %>
<p>
  <%= link_to "#{@production.play.title}", @production.play %><br />
  <strong>Date:</strong>
  <%=h @production.start_date %> - <%=h @production.end_date %><br />
</p>
<p>
Cast list:<br />
<ul>
  <% @production.castings.each do |casting| %>
  <li><%= casting.character.name %> - <% if casting.user %><%= link_to "#{casting.user.name}", user_path(casting.user) %><% end %></li>
  <% end %>
</ul>
</p>

<p>
  Actor list:<br />
  <ol>
    <% @production.users.actor.uniq.each do |user| %>
      <li><%= link_to "#{user.name}", user_path(user) %> (<%= user.id %>)-- 
        <% user.castings.each do |casting| %>
          <% if casting.production_id == @production.id %>
            <%= casting.character.name %><% unless casting == user.castings.last %>,<% end %>
          <% end %>
        <% end %>
        <br />
      </li>
    <% end %>
  </ol>
</p>

<p>
<%= link_to "Show rehearsals", production_rehearsals_path(@production) %>
  <%= link_to "Schedule rehearsal", new_production_rehearsal_path(@production, @rehearsal) %>
  <%= link_to "Edit", edit_theater_production_path(@theater, @production) %> |
  <%= link_to "Destroy", [@theater, @production], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All Productions", theater_productions_path(@theater) %> | <%= link_to "See doubling chart", doubling_theater_production_path %>
</p>
