<% title "#{@french_scene.play.title} Act #{@french_scene.act.act_number}, Scene #{@french_scene.scene.scene_number}.#{@french_scene.french_scene_number}" %>

<p>
  <strong>Number:</strong>
  <%= @french_scene.act.act_number %>.<%= @french_scene.scene.scene_number %>.<%= @french_scene.french_scene_number %><br />
</p>
  <strong>Characters:</strong>
  <ul>
  <% @french_scene.characters.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
  </ul>
<p>
  <%= link_to "Edit", edit_scene_french_scene_path(@scene, @french_scene) %> |
  <%= link_to "Destroy", [@scene, @french_scene], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", scene_french_scenes_path(@scene) %>
</p>
