<% title "#{@scene.play.title} Act #{@scene.act.act_number}, Scene #{@scene.scene_number}" %>

<p>
  <strong>Characters:</strong><br />
  <% c = @scene.on_stage %>
  <ul> 
  <% c.each do |char| %>
    <li><%= char.name %></li>
  <% end %>
  </ul>
</p>
<p>
  <strong>French Scenes:</strong><br />
  <ul>
  <% for french_scene in @scene.french_scenes do %>
    <li><%= french_scene.french_scene_number %> <%= link_to 'Show', scene_french_scene_path(@scene, french_scene) %><%= link_to 'Edit', edit_scene_french_scene_path(@scene, french_scene) %><%= link_to 'Destroy', [@scene, french_scene], confirm: 'Are you sure?', :method => :delete %></li>
  <% end %>
  </ul>
</p>

<p>
  <%= link_to "View Act #{@scene.act.act_number}", play_act_path(@scene.play, @scene.act) %>
</p>
