<%= semantic_form_for(@user) do |f| %>
  <% f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :date_of_birth, :as => :date_picker %>
    <%= f.input :hire_date, :as => :date_picker %>
    <%= f.input :is_female, :as => :radio, :label => "Gender", :collection => [["Male", false], ["Female", true]] %>  
    <%= f.input :email %>
    <%= f.input :calendar %>
    <h3>Tasks</h3>
    <div id='tasks'>
        <%= f.semantic_fields_for :jobs do |job| %>
          <%= render 'job_fields', :f => job %>
        <% end %>
    </div> 
    <div class='links'>
      <%= link_to_add_association 'Add a job', f, :jobs %>
    </div>
  </div>
   
     <%= f.submit 'Save' %>
   
  <% end %>
<% end %>