<%= semantic_nested_form_for @play do |f| %>
  <%= f.input :title, :required => true %>
  <%= f.input :date, :start_year => 1300, :hint => "If you don't know the exact date, please set as much as you know and put dummy values, like \'Jan 1\'." %>
  <div class="acts">
  <%= f.fields_for :acts %>
  <hr>
  <%= f.link_to_add "Add an act", :acts %>
  </div>
<%= f.actions %>
<% end %>
