<p class="nested-fields">
<%= f.input :scene_number, :required => true  %>
</p>
  <div id='french_scenes'>
        <%= f.semantic_fields_for :french_scenes do |fs| %>
          <%= render 'french_scene_fields', :f => fs %>
        <% end %>
  </div>
  <%= link_to_add_association "Add a french scene", f, :french_scenes %><br />
<%= link_to_remove_association "Remove Scene", f %>
<hr>

