<% title "All Plays" %>

<table>
  <tr>
    <th>Title</th>
    <th>Publication Date</th>
  </tr>
  <% for play in @plays %>
    <tr>
      <td><%=h play.title %></td>
      <td><%=h play.date %></td>
      <td><%= link_to "Show", play %></td>
      <td><%= link_to "Edit", edit_play_path(play) %></td>
      <td><%= link_to "Destroy", play, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Play", new_play_path %></p>
