<% title "#{@play.title}" %>
<p>
  <strong>Publication Date:</strong>
  <%=h @play.date %>
</p>

<strong> Scene Chart </strong>
  <table border = "1" class="table-striped">
    <tr><th>Character</th>
      <% @play.acts.each do |a| %>
        <% a.scenes.each do |s| %>
          <% s.french_scenes.each do |fs| %>
            <th><%= a.act_number %>.<%= fs.scene.scene_number %>.<%= fs.french_scene_number %></th>
          <% end %>
        <% end %>
      <% end %>
    </tr>
    <% @play.characters.each do |character| %>
      <tr><td><%= character.name %> <em><%= link_to 'Show', play_character_path(@play, character) %> <%= link_to "Edit", edit_play_character_path(@play, character) %> <%= link_to 'Destroy', [@play, character], :confirm => 'Are you sure?', :method => :delete %></em></td>
      <% @play.acts.each do |a| %>
        <% a.scenes.each do |s| %>
          <% s.french_scenes.each do |fs| %>
            <td><% if fs.characters.include?(character) %>
               <%= character.name %>
            <% end %>
          <% end %></td>
        <% end %>
      <% end %>
    <% end %></tr>
  </table>
</p>

<%= link_to 'Add Character', new_play_character_path(@play) %>
<p>
  <strong>Acts:</strong><br />
  <ul>
  <% for act in @play.acts %>
    <li><%= act.act_number %><br /><ul>
    <% for scene in act.scenes %>
      <li><%= act.act_number %>.<%= scene.scene_number %><br /><ul>
    <% for french_scene in scene.french_scenes %>
      <li><%= act.act_number %>.<%= scene.scene_number %>.<%= french_scene.french_scene_number %></li>

      <% end %></ul>
    <% end %></ul>
  <% end %></ul>
</p>




<p>
  <%= link_to "Edit", edit_play_path(@play) %> |
  <%= link_to "Destroy", @play, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", plays_path %>
</p>
